.contenedorCard{
  width: 200px;
  height: 285px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 200ms;
  gap: 5px;
}

.contenedorCard:hover{
  transform: scale(1.1);
}

.contenedorCard::before{
  content:"";
  box-shadow: 0px 8px 32px 0px rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  background-color: rgba(155, 241, 15, 0.483);
  position: absolute;
  inset: 0px;
  backdrop-filter: blur(4px);
  transform: translateZ(-2px);
}

.contenedorCard button{
  width: 30px;
  height: 30px;
  background-color: rgb(180, 235, 0);
  border-style: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  position: relative;
  right: -80px;
  top: -13px;
  transition: all 200ms;
  cursor: pointer;
}

.contenedorCard button:hover{
  background-color: red;
  transform: scale(1.1);
}

.contenedorCard img{
  width: 150px;
  height: 150px;
  background-color: chartreuse;
  border-style: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
}

.contenedorCard h1{
  font-size: 23px;
  color: rgb(243, 243, 243);
}

.contenedorCard h2{
  background-color: rgb(161, 224, 13);
  width: 65px;
  border-radius: 10px;
  font-size: 15px;
}

.description{
  display: flex;
  gap: 15px;
}

.animationAparecer{
  animation: animationItems 800ms ease;
}

.eliminar{
  opacity: 0;
  display: none;
}

@keyframes animationItems {
  0% {transform: scale(0); opacity: 0;}
  10% {opacity: 1;}
  100% {transform: scale(1);}
}